.grid-container{
    display: grid;
    
    grid-template-columns: repeat(auto-fill,minmax(250px,350px));
    justify-content: space-evenly;
    row-gap: 30px;
}
.card-flower{
    position: relative;
}
.bottom-flower{
    position: absolute;
    background-color: #8a4dc0;
    width: 95%;
    height: 40px;
    bottom: 5px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}